* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "kumbh Sans", sans-serif;
}

.navbar {
  background: #c5c5c5;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar_logo {
  background-color: #000;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar_items {
  height: 80px;
}

.navbar_links {
  color: #000;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar_links:hover {
  color: #fff;
  transition: all 0.3s ease;
}

.main {
  background-color: #d7d7d7;
}

.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: #d7d7d7;
  z-index: -1;
  height: 100%;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main_content h1 {
  font-size: 4rem;
  background-color: #000;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main_content h2 {
  font-size: 4rem;
  background-color: #ff8177;
  background: linear-gradient(to bottom, #232526, #414345);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main_content h3 {
  font-size: 3rem;
  background-color: #ff8177;
  background: linear-gradient(to bottom, #232526, #414345);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main_content p {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

.main_img-container {
  text-align: center;
}

.main_img {
  height: 90%;
  width: 90%;
}
